In [4]:
"""
Warm-up 1: Cho một danh sách sản phẩm như sau:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
Viết chương trình hiển thị các sản phẩm có giá bé hơn hoặc bằng so với giá tiền mà người dùng nhập
"""
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
n = int(input(" nhap vao"))
for some in products:
    if int(products[some]) <= n:
        print(some)

 nhap vao100
SMART WATCH
PHONE
PLAYSTATION
LAPTOP
MUSIC PLAYER
TABLET

In [36]:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
a=int(input())
for values in products:
    if products[values] <=a:
        print(values, sep  = " ")

1200
SMART WATCH
PHONE
PLAYSTATION
MUSIC PLAYER
TABLET

In [ ]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
     2: {'name': 'Marie', 'age': '22', 'sex': 'Female'},
     3: {'name': 'Luna', 'age': '24', 'sex': 'Female'},
              	     4: {'name': 'Peter', 'age': '29', 'sex': 'Male'}}

del people[3], people[4]
print(people)

## Bài 1: size of set
Hãy viết một chương trình để tính toán độ dài của một set

**Input**

In [6]:
set1 = {"A", 1, "B", 2, "C", 3}
set2 = {"Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu"}
set3 = {(1, "Lion"), ( 2, "Tiger"), (3, "Fox")}
print(len(set1))
print(len(set3))

6
3

In [37]:
print(len(set1))

6

**Output:**

In [ ]:
Size of Set1: 6
Size of Set2: 6
Size of Set3: 3

**Your code**

In [ ]:
set1 = {"A", 1, "B", 2, "C", 3}
set2 = {"Geek1", "Raju", "Geek2", "Nikhil", "Geek3", "Deepanshu"}
set3 = {(1, "Lion"), ( 2, "Tiger"), (3, "Fox")}
# code below this line

# code above this line

## Bài 2: maximum and minimum of set
Hãy tìm giá trị lớn nhất và giá trị nhỏ nhất trong set

**Input**

In [43]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}
print(max(set1))

65

**Output:**

In [ ]:
"max is 65"
"min is 1"

**Your code**

In [ ]:
set1 = {8, 16, 24, 1, 25, 3, 10, 65, 55}
# code below this line

# code above this line

## Bài 3: common set
Cho 2 biến set1 và set 2. Hãy kiểm tra xem set1 và set 2 có ít nhất một giá trị giống nhau hay không. Nếu có, in ra True, nếu không, in ra False.

**Input**

In [47]:
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}
check = False
for values in a:
    if values in b:
        check = True
print(check)

True

**Output**

In [ ]:
True

**Your code**

In [16]:
a = {1, 2, 3, 4, 5}
b = {5, 6, 7, 8, 9}
# code below this line
print(len(a&b) > 0)
# code above this line
check = False
for i in a:
    if i in b:
        check = True
        break
print(check)
print(a & b)

True
True
{5}

## Bài 4: common set 2
Cho 3 set khác nhau. Hãy in ra một set chứa các phần tử chung của 3 set đã cho

**Input**

In [19]:
ar1 = {1, 5, 10, 20, 40, 80}
ar2 = {6, 7, 20, 80, 100}
ar3 = {3, 4, 15, 20, 30, 70, 80, 120}
print( ar1 & ar2 & ar3)
print(len(ar1 & ar2 & ar3))

{80, 20}
2

**Output**

In [ ]:
{80, 20}

**Your code**

In [ ]:
ar1 = {1, 5, 10, 20, 40, 80}
ar2 = {6, 7, 20, 80, 100}
ar3 = {3, 4, 15, 20, 30, 70, 80, 120}

## Bài 5: list to dict
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:

**Input**

In [49]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dict1 = {}
for i in range(len(keys)):
    dict1[keys[i]] = values[i]
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Your code**

In [23]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# code below this line
a = {}
for i in range(len(keys)):
    a[keys[i]] = values[i]
    
print(a)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Bài 6: merge dictionary
Hãy gộp 2 dictionary sau đây thành một.

**Input**

In [53]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Your code**

In [24]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# code below this line
dict1.update(dict2)
print(dict1)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Bài 7: where is the value?
Hãy in ra giá trị của "history" trong dictionary dưới đây.

**Input**

In [26]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

**Output**

In [ ]:
80

**Your code**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
# code below this line

# code above this line

## Bài 8: Delete set of keys from a dictionary
Hãy xóa các key có trong set dưới đây ra khỏi dictionary.

**Input**

In [29]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}
for key in keysToRemove:
    if key in sampleDict:
        del sampleDict[key]
print(sampleDict)

{'age': 25, 'city': 'New york'}

**Output:**

In [ ]:
{'city': 'New york', 'age': 25}

**Your code**

In [58]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
keysToRemove = {"name", "salary"}
for keys in keysToRemove:
    print(keys)
    if keys in sampleDict:
        del sampleDict[keys]
print(sampleDict)

name
salary
{'age': 25, 'city': 'New york'}

## Bài 9: Check if a value 200 exists in a dictionary
Hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây không nhé.

**Input**

In [62]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
check = False
for values in sampleDict.values():
    if values == 200:
        check = True
print(check)

True

**Output**

In [ ]:
True

**Your code**

In [32]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
# code below this line
check = False
for values in sampleDict.values():
    if values == 200:
        check = True
        break
print(check)
print(200 in sampleDict.values())
# code above this line

True
True

## Bài 10: rename key
Hãy thay thế key `city` thành `location` trong dictionary dưới đây.

**Input**

In [73]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
for key in sampleDict:
    if key == "city":
        sampleDict.update({"location":sampleDict["city"]})
        del sampleDict["city"]
        break
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**Output**

In [ ]:
{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

**Your code**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# code below this line

# code above this line

## Bài 11: key of minimum value
Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây.

**Input**

In [75]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
set1 = set()
for key in sampleDict:
    set1.add(sampleDict[key])
for key in sampleDict:
    if sampleDict[key] == min(set1):
        print(key)
        break

Math

**Output**

In [ ]:
Math

**Your code**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# code below this line

# code above this line

## Bài 12: new salary
Hãy tăng lương(`salary`) cho Brad từ 6500 lên 8500 trong dictionary dưới đây nhé.

**Input**

In [33]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
sampleDict.pop("emp1")
print(sampleDict)

{'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 6500}}

In [35]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          		     2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

people[3] = {}

people[3]['name'] = 'Luna'
people[3]['age'] = '24'
people[3]['sex'] = 'Female'
people[3]['married'] = 'No'

print(people[3])
print(people)

{'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}
{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}, 3: {'name': 'Luna', 'age': '24', 'sex': 'Female', 'married': 'No'}}

**Output**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

**Your code**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
# code below this line

# code above this line

In [88]:
class Car:
    # Liệt kê các thuộc tính của lớp ô tô
    engine = "V8"
    color = "black"
    max_speed = 100
    # Liệt kê các hàm của lớp
    def run(n):
        print("Chuyển động của ô tô")

    def load(self):
        print("Có thể chở hàng")

    def show(n):
        print("Màu của ô tô = ", n.color)
        print("Động cơ ô tô = ", n.engine)
        print("Vận tốc tối đa ô tô = ",n.max_speed)

# Tạo đối tượng xe Santafe
t=Car()
t.show()
santafe = Car()
santafe.color = "White"
santafe.max_speed = 250
santafe.show()

# Tạo đối tượng xe Sonata
sonata = Car()
sonata.color = "Blue"
sonata.max_speed = 200
sonata.engine = 'V6'
sonata.show()

Màu của ô tô =  black
Động cơ ô tô =  V8
Vận tốc tối đa ô tô =  100
Màu của ô tô =  White
Động cơ ô tô =  V8
Vận tốc tối đa ô tô =  250
Màu của ô tô =  Blue
Động cơ ô tô =  V6
Vận tốc tối đa ô tô =  200

In [ ]:

n = int(input())
number = 1
for i in range(n):
    get_in, get_off = [int(j) for j in input().split()]

# Write an answer using print
# To debug: print("Debug messages...", file=sys.stderr, flush=True)
print("nbPeople")